@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slick-prev:before {
  font-size: 50px !important;
}

.slick-prev {
  left: 10px !important;
  z-index: 10;
}

.slick-next:before {
  font-size: 50px !important;
}

.slick-next {
  right: 35px !important;
  z-index: 10;
}
